@import '../../index.css';

:root {
    --text-size: 40px;
    --item-size: 30px;
}

.container-input{
    width: 100%;
    height: 50%;
}

.input-label{
    color: var(--black);
    font-size: medium;
    font-weight: bold;
}

.input-content {
    font-weight: normal;
    font-size: medium;
    padding-left: 3%;
    text-align: justify;
    color: var(--light-gray);
    border-color: transparent;
    width: 80%;
    min-width: 200px;
    background:  #C6CEDA;
    border-radius: 60px;
}

input:focus{
    outline: none;
}



