@import '../../index.css';

.input-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.input-label{
    color: var(--black);
    font-size: var(--font-size-normal);
    font-weight: var(--weight-bold);
    height: var(--label-normal-size);
}

.input-content {
    height: var(--height-small);
    font-weight: var(--weight-regular);
    font-size: var(--font-size-normal);
    border-radius: var(--border-normal);
    outline: 0px;
    border: none;
    padding-left: 3%;
    text-align: justify;
    color: var(--black);
    border-color: transparent;
    background:  var(--grey);
}

input:focus{
    outline: none;
}

.error {
    border: red 1px solid;
}



