@import '../../index.css';

.img {
    height: 20%;
    width: auto;
}

.menuButton {
    color: var(--black);
    width: auto;
}

.title {
    flex-grow: 1;
    color: var(--black);
}

.appbar {
    background-color: var(--white);
}
.fullList {
    width: 'auto';
}