@import '../../index.css';

.form-wrap{
    max-width: 800px;
    min-height: fit-content;
    padding: 5%;
    margin: 5%;
    border-radius: var(--border-big);
    border: 1px var(--grey) solid;
    background-color: var(--card-background);
}

.form-wrap-mobile{
    background-color: var(--card-background);
}

.form-titles{
    padding: 2%;
}

.form-content{
    width: 100%;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
}

.form-controls {
    width: 100%;
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.form-controls > .MuiButton-root .MuiButton-base {
    padding-left: 10px;
    padding-right: 10px;
}

#submit {
    margin-bottom: 2%;
}

.error-message {
    color: red;
}

