@import '../../index.css';

.form {
    width: fit-content;
    height: auto;
    display: flex;
}

.form-header {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: justify;
}

.form-progress {
    width: 100%;
    align-self: center;
    display: inline-block;
    justify-content: center;
}

.form-content{
    height: auto;
    width: 100%;
    max-width: 700px;
    align-self: center;
    display: inline-block;
    align-content: center;
}

.form-controls {
    width: 100%;
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.form-controls > .MuiButton-root .MuiButton-base {
    padding-left: 10px;
    padding-right: 10px;
}

.form-dialog {
    width: 100%;
    min-width: 250px;
    max-width: 600px;
    padding: 1%;
    text-align: justify;
}

#submit {
    margin-bottom: 2%;
}

.error-message {
    color: red;
}

