@import '../../index.css';

.form-wrap{
    height: auto;
    margin-top: 5%;
    max-height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px;
    border-style: solid;
    border-radius: 40px;
    border-color: black;
}

.form-wrap-mobile{
    height: auto;
    margin-top: 5%;
    max-height: max-content;
    width: fit-content;
    display: flex;
    justify-content: center;
}

.MuiButton-root{
    background-color:  #5063BB;
    color: #FFFFFF;
    border-radius: 12px;
    border: none;
    height: 35px;
    width: 123px;
    font-size: 16px;
    font-family: "Poppins", sans-serif !important;
}

#recentcrime-title{
    justify-self: flex-start;
    align-self: start;
}

#recentcrime-subtitle{
    justify-self: flex-start;
    align-self: start;
    padding: 1%;
}

.form{
    width:50%;
    margin:0 auto;
}

.form-input{
    margin: 2%;
}

.form-button{
    align-self: flex-end;
}

