@import'../../index.css';

.select-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.select-label{
    color: var(--black);
    font-size: var(--font-size-normal);
    font-weight: var(--weight-bold);
    height: var(--label-normal-size);
}

.select-content{
    height: var(--height-small);
    font-weight: var(--weight-regular);
    font-size: var(--font-size-normal);
    border-radius: var(--border-normal);
    outline: 0px;
    border: none;
    padding-left: 3%;
    text-align: justify;
    color: var(--black);
    border-color: transparent;
    background:  var(--grey);
}

.select-option{
    color: var(--black);
    font-weight: var(--weight-regular);
    font-size: var(--font-size-normal);
}

.error {
    border: red 1px solid;
}