@import '../../index.css';

.form-wrap {
    width: 100%;
    border-radius: var(--border-big);
    background-color: var(--card-background);
}

.form-background {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

@media (max-width: 750px) {
    .form-background {
        background-color: var(--card-background);
        width: 100%;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 0px;
    }
}


.form-content{
    width: 100%;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
}

.form-controls {
    width: 100%;
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}

/* .form-controls > .MuiButton-root .MuiButton-base {
    padding-left: 10px;
    padding-right: 10px;
} */

#submit {
    margin-bottom: 2%;
}

.error-message {
    color: red;
}

