html, body {
  margin: 0;
  background: #EBEBF3;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  min-height: 100vh;
}

:root {
  --dark-color: #3c3c3c;
  --light-gray: #626284;
  --violet: #5063BB;
  --light-violet: #EBEBF3;
  --black: #1B1B25;
  --white: #FFFFFF;
  --box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(166, 180, 200, 0.7);
  --small-size: 14px;
  --normal-size: 16px;
  --big-size: 20px;
}


