@import '../App.css';


.layout-admin-header{
    position: sticky;
    top: 0;
    bottom: 20px;
    padding: 35px 10px;
    background-color: whitesmoke;
}

.layout-admin-content {
    height: 100%;
    width: 100%;
    padding: 15px 25px;
}
