@import '../App.css';

.layout-basic-header{
    position: sticky;
    top: 0;
    bottom: 20px;
    padding: 35px 10px;
    background-color: whitesmoke;
}

.layout-basic-content {
    height: fit-content;
    width: auto;
    padding: 15px 25px;
}
