@import '../index.css';

.layout-admin-header{
    position: sticky;
    top: 0;
    bottom: 20px;
    padding: 35px 10px;
    background-color:  var(--light-gray);
}

.layout-admin-content {
    width: auto;
    height: 100%;
    padding: 15px 100px;
}

@media (max-width: 750px) {
    .layout-admin-header{
        position: sticky;
        top: 0;
        bottom: 10px;
        padding: 35px 10px;
    }

    .layout-admin-content {
        height: 100%;
        padding: 0px;
    }
}
