@import './index.css';

.slider-container{
    max-width: 300px;
    width: 100%;
}

.slider-container label{
    font-weight: bold;
    color: black;
}

.MuiSlider-rail, .MuiSlider-track {
    height: 5px !important;
}

.MuiSlider-thumb{
    height: 13px  !important;
}