@import'../../index.css';

label{
    font-weight: var(--weight-medium);
    color: var(--black);
}

.input-slider {
    max-width: 60px !important;
}

.MuiSlider-rail, .MuiSlider-track {
    height: 5px !important;
}

.MuiSlider-thumb{
    height: 13px  !important;
}